[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.4.4"
delta-spark = "==2.4.0"
pandas = "==2.1.4"
polars = "==0.20.31"
pyarrow = "==14.0.2"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"